In [4]:
#consider a is 7 and b is 5,store a in b and print b and a

 #given values:
a=7
b=5
 #store a in b
b=a
print("a is =",a)
print("b is =",b)

a is = 7
b is = 7

In [9]:
#consider a is 2.3 and b is 5,store a in b then store it in c and print c 
#given values and varibles:

a=2.3
b=5
#doing sum of two variable a,b and stored in it variable c
c= a+b
#print answer
print(c)

7.3

In [ ]:
#consider a is X and b is y,store a and b and print b and a
#given values and varibles:

a=2.3
b=5
#doing sum of two variable a,b and stored in it variable c
c= a+b
#print answer
print(c)

In [10]:
#consider a is "Sathya,b is "tech" store sum of a,b,in c print c
# given values
a= "sathya"
b="tech"
#store full  name in c 
c=(a+b)
#PRINT C as fullname is result
print(c)

sathyatech

In [11]:
#consider a is 5 and b is 3,store sum of  a,b in c,display o/p as sum is 8
#given values and varibles:

a=5
b=3
#doing sum of two variable a,b and stored in it variable c
c= a+b
#print answer
print(c)

8

In [14]:
#consider x is a and y is 5,store x in y and print x,y
#given values and varibles:

x=a
y=5
#stored x in y
y=x

#print answer
print(x,y)

2.3 2.3

In [16]:
#consider x is 5 and y is 2,x divide by y store, in z and print z
#given values and varibles:
x =5
y=2
#x divide by y and store  in z
z=x//y # "//" used for division  and gives result without floating point
print(z)

2

In [17]:
#consider x is 5 and y is 2,x divide by y store, in z and print z
#given values and varibles:
x =5
y=2
#x divide by y and store  in z
z=x/y # "/" used for division  and gives result floating point
print(z)

2.5

In [19]:
#consider x is 5 and product of  is x and x store in y and print y
#given values and varibles:
x=5
#product of  is x and x store in y
y=x*x
print(y)

25

In [28]:
#consider x is 3 and cube of x , store in y and print y
#given values and varibles:
x=3
#cube of x
y= x * x * x
print(y,"is cube of x")

27 is cube of x

In [ ]:
#consider x is 3 and cube of x , store in y and print y
#given values and varibles:
x=3
#cube of x
y= x * x * x
print(y,"is cube of x")